---
import { Image } from "astro:assets";
import decentralize from "../assets/icons/decentralized.svg";
import poverty from "../assets/icons/poverty.svg";
import liberty from "../assets/icons/liberty.svg";
import growth from "../assets/icons/growth.svg";
import representation from "../assets/icons/representation.svg";
import responsibility from "../assets/icons/balance.svg";
---

<section
  class="bg-secondary bg-meander_light [background-size:25px,25px] bg-repeat-x text-white"
>
  <h2 class="text-3xl text-center pt-12 font-[poppins] lg:text-7xl">
    Why a new constitution?
  </h2>
  <p class="mx-3 lg:mx-auto mt-2 lg:mt-5 lg:w-3/5 lg:text-lg">
    Today's constitutions have been proven inadequate at keeping governments
    limited and the people free. That is why New Constitution Project was
    created to analyze how modern governmental structures incentivize modern
    problems such as irresponsible finances, erosion of rights and warping of
    the law. The culmination of this work is a draft of The New Constitution, a
    founding document backed by both empirical evidence and theoretical
    analysis, which aims to be the foundation of a future society.
  </p>
  <h3 class="text-center text-lg font-[poppins] mt-16 lg:text-4xl">
    What can The New Constitution achieve?
  </h3>
  <div class="flex flex-row justify-evenly lg:flex-col">
    <div class="flex flex-col items-center justify-evenly lg:pt-3 lg:flex-row">
      <figure
        class="flex flex-col justify-center items-center w-24 m-8 whitespace-nowrap lg:w-[10vw]"
      >
        <Image src={decentralize} class="w-full object-fill" alt="" />
        <div class="text-center lg:mt-2 lg:text-lg">Decentralize Power</div>
      </figure>
      <figure
        class="flex flex-col justify-center items-center w-24 m-8 whitespace-nowrap lg:w-[10vw]"
      >
        <Image src={liberty} class="w-full object-cover" alt="" />
        <div class="text-center lg:mt-2 lg:text-lg">
          Protect Individual Liberty
        </div>
      </figure>
      <figure
        class="flex flex-col justify-center items-center w-24 m-8 whitespace-nowrap lg:w-[10vw]"
      >
        <Image src={poverty} class="w-full" alt="" />
        <div class="text-center lg:mt-2 lg:text-lg">Reduce Poverty</div>
      </figure>
    </div>
    <div class="flex flex-col items-center justify-evenly lg:flex-row lg:pb-20">
      <figure
        class="flex flex-col justify-center items-center w-24 m-8 whitespace-nowrap lg:w-[10vw]"
      >
        <Image src={growth} class="w-full" alt="" />
        <div class="text-center lg:mt-2 lg:text-lg">Promote Growth</div>
      </figure>
      <figure
        class="flex flex-col justify-center items-center w-24 m-8 whitespace-nowrap lg:w-[10vw]"
      >
        <Image src={representation} class="invert" alt="" />
        <div class="text-center lg:mt-2 lg:text-lg">Better Representation</div>
      </figure>
      <figure
        class="flex flex-col justify-center items-center w-24 m-8 whitespace-nowrap lg:w-[10vw]"
      >
        <Image src={responsibility} class="w-full" alt="" />
        <div class="text-center lg:mt-2 lg:text-lg">Fiscal Responsibility</div>
      </figure>
    </div>
  </div>
</section>
